<div class="alime-portfolio-area section-padding-80 clearfix">
  <div class="container-fluid">
    @if (showFilters) {
      <div class="row">
        <div class="col-12">
          <div class="alime-projects-menu">
            <div class="portfolio-menu text-center">
              @for (f of filters; track f.label) {
                <button
                  type="button"
                  class="btn"
                  [class.active]="activeFilter() === f.value"
                  (click)="setFilter(f.value)"
                >
                  {{ f.label }}
                </button>
              }
            </div>
          </div>
        </div>
      </div>
    }

    <div class="alime-masonry">
      @for (item of filtered(); track item.src; let i = $index) {
        <div class="alime-masonry-item">
          <div class="single-portfolio-content">
            <img [src]="item.src" alt="Portfolio photograph" loading="lazy" />
            <div class="hover-content">
              <a class="portfolio-img" (click)="open(i)" role="button" tabindex="0">+</a>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</div>

<app-lightbox
  [images]="filteredSrcs()"
  [index]="lightboxIndex()"
  (indexChange)="lightboxIndex.set($event)"
  (closed)="lightboxIndex.set(null)"
/>
